.nav {
  display: flex;
  justify-content: flex-start;
  }
  
.nav-content {
  list-style-type: none;
  display: flex;
  margin-top: -1px;
  margin-left: -20px;
  border-style: solid;
  border-color: #DCDCDC;
  border-top: hidden;
  border-right: hidden;
  padding-bottom: 10px;
  border-width: 1px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 20px;
}
