.nav {
  border: black;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #dcdcdc;
}

.nav-content {
  display: flex;
  list-style-type: none;
 }

.nav-link {
  text-decoration: none;
  margin: 5px;
  color: black;
}

.header_title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-style: italic;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}

#logo {
    display: flex;
    margin-left: 270px;
    width: 250px;
}

#nav_but {
    display: flex;
    margin-left: 300px;
}

#hr_one {
  display: flex;
  width: 500px;
}

.header_contact {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right:280px;
}

.contact_link {
  display: flex;
  margin:10px;
  border: solid;
  padding: 4px;
  border-color: #e8e8e8;
  border-radius: 50%;
  border-width: 1px;
  background-color: #e8e8e8;
}

.contact_link:hover {
  border-color: red;
}

.header_img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.img_desc {
    display: block;
    width: 760px;
    margin-left: auto;
    margin-right: auto;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}
.des_span{
    color: #a8a8a8;
}

.img_comment {
  display: block;
  width: 760px;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
  font-weight: bold;
  color: #666;
}

.main {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.main_sign {
display: block;
width: 480px;
}

.main_sign_button {
    display: flex;
    float: right;
    margin-top: 15px;
}

.para_one {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.first_book_pic {
    display: flex;
    width: 80px;
}

.first_book_comment {
    display: flex;
}
.first_book {
    width: 200px;
    float: right;
    margin-right: 100px;
    margin-top: -100px;
}

.article_two {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.third_article {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.first_element {
    display: block;
    width: 200px;
}

.first_element_picture {
    display: flex;
    width: 200px;
}
